CMakeCache.txt
CMakeFiles
doctrees
mindboggle.*.box
mindboggle.egg-info
MANIFEST.in
/doc/users/examples
/doc/api/generated
.vagrant/
/Vagrantfile
/doc/manual
.project
.settings
.pydevproject
.idea/
.DS_Store*
crash-*
*.pyc
*.gz
*.zip
*.tar
*.tar.gz
._*
*~ 
#* 
.#* 
,* 
_$* 
*$ 
*.old 
*.bak 
*.BAK 
*.orig 
*.rej 
.del-* 
*.a 
*.olb 
*.o 
*.obj 
*.so 
*.exe 
*.Z 
*.elc 
*.ln
.del-* 
*.cache*
crash-*
*.pyc
x
.idea
CMakeCache.txt
CMakeFiles

