CMakeCache.txt
CMakeFiles
/build
/dist
mindboggle.*.box
/mindboggle.egg-info
/MANIFEST
/mindboggle/build
/mindboggle/mindboggle.egg-info
/doc/_build
/doc/users/examples
/doc/api/generated
.vagrant/
/Vagrantfile
/doc/build/
/doc/manual
.project
.settings
.pydevproject
.idea/
.DS_Store*
crash-*
*.pyc
*.gz
*.zip
*.tar
._*
*~ 
#* 
.#* 
,* 
_$* 
*$ 
*.old 
*.bak 
*.BAK 
*.orig 
*.rej 
.del-* 
*.a 
*.olb 
*.o 
*.obj 
*.so 
*.exe 
*.Z 
*.elc 
*.ln
