language: python
python:
  - "3.5"
install:
#  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
#  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION dep1 dep2 ...
#  - conda info --envs
#  - source activate mindboggle-env #-f $HOME/mindboggle/environment.yml
#  - conda info --envs
  - python -c "import sys; print(sys.executable)"
#  - python setup.py install

script:
  # Your test script goes here