include CHANGES
include INSTALL
include LICENSE
include MANIFEST.in
include	README.rst
include THANKS
include Makefile
#include build_docs.py
#include setup_egg.py
#include doc/documentation.zip

recursive-include doc *
#recursive-include tools *
